html{
    overflow-y:auto;
}

#create_error
{
    color:red;
}

#create_error
{
    color:red;
}

#toggle_light_dark_mode
{
    position: fixed;
    bottom:10px;
    right:10px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #menu-toggle:checked + .nav-menu {
      display: block;
    }
}